<div>
  <div class= "row">
    <div class= "col-md-12">
      <h1>Welcome to Blocipedia</h1>
    </div>
  </div>
  <% if !user_signed_in?%>
  <div class "row">
    <div class= "col-md-6">
      <div class="media-body">
           <h1 class="media-heading">
             <%=link_to "Sign In", new_user_session_path%>
           </h4>
      </div>
    </div>
    <div class= "col-md-6">
      <div class="media-body">
          <h1 class="media-heading">
        <%=link_to "Sign Up", new_user_registration_path %>
          </h1>
      </div>
    </div>
  </div>
  <%end%>
  <div class= "row">
    <div class= "col-md-6">
      <div class="media-body">
        <h1 class="media-heading">
          <%=link_to "See Wikis", wikis_path %>
        </h1>
        </div>
      </div>
      <div class= "col-md-6">
        <div class="media-body">
          <h1 class="media-heading">
            <%=link_to "Upgrade to create Private Posts", new_charge_path %>
          </h1>
          </div>
        </div>
  </div>


</div>
